
model/llama.cpp/
save_embded/index_step21heBERT.pkl
‏‏save_embded - עותק/embeddings_step1heBERT.pkl
‏‏save_embded - עותק/embeddings1.pkl
‏‏save_embded - עותק/index_step21heBERT.pkl
save_embded/embeddings_step1heBERT.pkl
